a {
    cursor: pointer;
}

li {
    float: left;
    list-style: outside none none;
    text-align: center;
}

.page>.active>a, .page>.active>a:focus, .page>.active>a:hover, .page>.active>span, .page>.active>span:focus, .page>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.page>li>a, .page>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}