<div class="container">
    <div class="row" style="background-color: blue;">
                <button (click)="redirectToTable()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                <p class="pl-5" style="color: white">Data Peace</p>
    </div>
    <div class="p-2"></div>
    <div class="row">
        <h3>{{firstname}}{{' '}}{{lastname}}</h3>
    </div>
    <div *ngFor="let item of data | keyvalue" class="row" style="border-bottom: inset">
        <p class="p-1">{{item.key}}</p>
        <p class="col text-right">{{item.value}}</p>
    </div>
</div>